<h1>ProviderOne</h1>
<strong>Generate a full-featured android ORM layer in seconds!</strong><br/><br/>

<%=form_tag '/home/options', :multipart => true do -%>

    <p>
      <label for="upload1_datafile">SQLite database</label> : <br/>

      <%=radio_button(:upload1, "filetype", "binary")%>
      <label for="upload1_filetype_binary">Binary SQLite file</label>

      <%=radio_button(:upload1, "filetype", "text")%>
      <label for="upload1_filetype_text">.sql text file</label><br/>

	  <%= file_field :upload1, 'datafile' %><br/>

    </p>

    <p><label for="upload2_datafile">ProviderOneConfig.xml file (if you've used ProviderOne previously on this database)</label> :   <br/>
    <%= file_field :upload2, 'datafile' %>
    </p>


<%= submit_tag "Upload" %>
<% end -%>