<%=form_tag '/home/finish_up' do -%>
    <div id="leftcolumn">
      <h2>Application / Database Info</h2>

      Project Name (no spaces or special characters, this will be a prefix for several class names):<br/>
      <%= text_field(:dbinfo, :project_name, {"class" => "textfield_effect"})%>

      <br/><br/>

      App Package name:<br/>
      <%= text_field(:dbinfo, :package, {"class" => "textfield_effect"})%>

      <br/><br/>

      Database name:<br/>
      <%= text_field(:dbinfo, :filename, {"class" => "textfield_effect"})%>

      <br/><br/>

      DB Version:
      <%= number_field(:dbinfo, :version, {"class" => "textfield_effect", "style" => "width:50px"})%>

      <br/><br/>

      Content Authority: (may be a function call, use quotes if defining constant)<br/>
      <%= text_field(:dbinfo, :content_authority, {"class" => "textfield_effect"})%>

      <br/><br/>

      Copyright Message:<br/>
      <%= text_area(:dbinfo, :copyright_msg, :cols => 50, :rows =>6) %>

    </div>


    <div id="rightcolumn">
      <h2>Table Options</h2>
      <%@dbinfo.tables.each_value do |table|%>
          <p>
              <strong><%=table.name%></strong><br/>
              lookup key =
              <%= select_tag "lookup_key_" + table.name, options_from_collection_for_select(table.columns, :name, :name, table.get_lookup_column.name) %>

              <br/>

              insert algorithm =
              <%= select_tag "insert_algorithm_" + table.name, options_from_array_for_select(insert_update_algorithms, table.insert_algorithm)%>

              <br/>

              update algorithm =
              <%= select_tag "update_algorithm_" + table.name, options_from_array_for_select(insert_update_algorithms, table.update_algorithm)%>
          </p>
      <%end%>

    </div>

    <div class="clear"></div>
    <%= hidden_field(:dbinfo, :upload_id) %>
    <%= submit_tag "Submit" %>
<% end -%>



<%#=@dbinfo.to_s.gsub("\n", "<br/>").html_safe%>